<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823563480080-3d1en4mdqu3auckrhutmrn3q8rslhqch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823563480080-3d1en4mdqu3auckrhutmrn3q8rslhqch</string>
	<key>API_KEY</key>
	<string>AIzaSyBNsF8zpb84PXtqK8d_K5aihQbvkd-iMpI</string>
	<key>GCM_SENDER_ID</key>
	<string>823563480080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.chrizstvan.Gain</string>
	<key>PROJECT_ID</key>
	<string>gain-7341a</string>
	<key>STORAGE_BUCKET</key>
	<string>gain-7341a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823563480080:ios:f8dde81b6492ea43842e95</string>
	<key>DATABASE_URL</key>
	<string>https://gain-7341a.firebaseio.com</string>
</dict>
</plist>